
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Publicaciones Cientificas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/registro">Registrar</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/articulorevista">Articulo Revista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/libro">Libro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/capitulolibro">Capitulo Libro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reportecientifico">Reporte Cientifico</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Estadísticas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/contacto">contacto</a>
        </li>
     
    </ul>
    
  </div>
</nav>