<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" class="form-control" placeholder="Buscar por nombre" ng-model="buscar.materno">
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <a href="" ng-click="ordenarPor('nombre')">
            Nombre
          </a>
          <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
        </th>
        <th>Autores</th>
        <th>Titulo</th>
        <th>Congreso</th>
        <th>Lugar</th>
        <th>Año</th>
       
      </tr>
      <tr>
          <td><input type="text" id="Nombre" name="Nombre" /></td>
          <td><input type="text" id="Autores" name="Autores" /></td>
          <td><input type="text" id="Titulo" name="Titulo" /></td>
          <td><input type="text" id="Congreso" name="Congreso" /></td>
          <td><input type="text" id="Lugar" name="Lugar" /></td>
          <td><input type="text" id="Año" name="Año" /></td>
        </tr>
      </thead>
      <tbody>
   
      </tbody>
    </table>
    <p>
        <button (click)="this.Anadir()">Añadir publicacion</button>   <button (click)="this.modificar()">Modificar publicacion</button> <button (click)="this.eliminar()">Eliminar publicacion</button>
      </p>
      <p>
          <button (click)="this.Anadirautor()">Añadir autor</button>   <button (click)="this.modificarautor()">Modificar autor</button> <button (click)="this.eliminarautor()">Eliminar autor</button>
        </p>
  </div>
</div>
