<table width="280" cellspacing="1" cellpadding="3" border="0" bgcolor="#1E679A">
    <tr>
       <td><font color="#FFFFFF" face="arial, verdana, helvetica">
    <b>Estadísticas por autor</b>
       </font></td>
    </tr>
    <tr>
       <td bgcolor="#ffffcc">
       <font face="arial, verdana, helvetica">
       Publicaciones
       </font>
       </td>
       <td bgcolor="#ffffcc">
          <font face="arial, verdana, helvetica">
      Autor
          </font>
          </td>
     
    </tr>
    <tr>
        <td><input type="text" id="Publicaciones" name="Publicaciones" /></td>
        <td><input type="text" id="Autores" name="Autores" /></td>
    </tr>
    </table> 
    <p>
        <button (click)="this.mostrar()">Mostrar</button> 
      </p>