<div class=" container">
    <div class=" container">
      <div class=" register">
      <p><span class="error">* Campos necesarios</span></p>
      <div id="errores" class="error_dos"></div>
     <h1>Registro</h1>
             <form method="post" action="/">
            <div class="col-md-6 register-top-grid">
             <h3>Información Personal</h3>
              <div>
               <span>Nombre *</span>
               <input id="val_nombre" type="text"> 
              </div>
              <div>
               <span>Apellidos *</span>
               <input id="val_apellidos" type="text"> 
              </div>
                     <div>
                     <span>DNI *</span>
                     <input id="val_dni" type="text"> 
                    </div>
              <div>
                <span>E-Mail *</span>
                <input id="val_email" type="text"> 
              </div>
              <div>
                <span>Dirección *</span>
                <input id="val_direccion" type="text"> 
              </div>
              </div>
                <div class="col-md-6 register-top-grid register-bottom-grid">
                   <h3>Información de cuenta</h3>
                   <div>
                     <span>Nombre de cuenta *</span>
                     <input id="val_login" type="text">
                   </div>
                  <div>
                   <span>Contraseña *</span>
                   <input id="val_contrasena" type="password">
                  </div>
                  <div>
                   <span>Confirma la contraseña *</span>
                   <input id="val_conf_contrasena" type="password">
                  </div>
                  <input id="boton_registro" type="submit" value="Registrarse">
                 
              </div>
              <div class="clearfix"> </div>
           </form>
         </div>
      </div>